 .itemProperty {
      margin-top: auto;
      padding: 5px 8px;
      background: #C4C4C4;
      color: white;
      margin-right: 16px;
      font-weight: 300;
      font-size: 12px;
      line-height: calc(14/12);
  }