%row {
    display: flex;
    flex-wrap: nowrap;
}

.itemContainer {
    max-width: 850px;
    width: 100%;
    @extend %row;
    background-color: white;
    margin: 16px 0;
    padding: 8px;

    .itemColumn1 {
        padding: 8px;

        .itemImage {
            width: 224px;
            height: 100%;
            object-fit: fill;
        }

    }

    .itemColumn2 {
        flex-basis: 47%;
        padding: 8px;

        h3 {
            color: #000000;
            margin-bottom: 5px;
        }

        p {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #828282;
        }
    }

    .itemColumn3 {
        flex-basis: 26%;
        padding: 8px;
        text-align: end
    }


    .verticalFlex {
        @extend %row;
        flex-direction: column;
        justify-content: space-between;
        height: 100%
    }

    .rowProperty {
        @extend %row;
    }
}

@media(max-width: 768px) {

    .itemContainer {
        .itemColumn1 {

            .itemImage {
                height: auto;
            }
        }
    }
}


@media(max-width: 425px) {

    .itemContainer {
        flex-wrap: wrap;
        display: block;

        &>* {
            width: calc(100%);
        }

        .itemColumn1 {

            .itemImage {
                margin: auto;
                display: block;
            }
        }
        .rowProperty {
            margin-top: 5px;
        }
    }

}