.sortItems{
    %fontNative{
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    }

    %inputSelectBox{
        height: 35px;
        padding: 7px 8px;
        color: #828282;
        border: 1px solid #BDBDBD;
        border-radius: 0;
        background-color: white;
     
        &:focus,
        &:focus-visible {
            border-color: #2D9CDB;
        }

        &:disabled {
            background-color: #E0E0E0;
        }
    }

.column.sortLabel {
   @extend %fontNative;
    color: #000000;
    padding-right: 0px;
    }


.column.select select.selectForSort {
    position: relative;
    width: 207px;
    @extend %inputSelectBox;
    @extend %fontNative;
    // border-radius: unset;
     } 
   

.column.select:not(.is-multiple):not(.is-loading)::after {
     display: none;

}
.select:not(.is-multiple):not(.is-loading)::before {
    z-index: 5;
    content: "";
    background-image: url("./marcker.svg");
    padding: 3.745px 7.15px;
    position: absolute;
    right: 20px;
    top: 25px;
 }


 .column.select:not(.is-multiple) {
    height: unset;
}
}