class {
  checkboxClick(event) {
      this.emit("emSetCheckbox", {
      year: event.target.name,
      checked: event.target.checked,
    });
  }
}

<div.rowCheckbox>
  <input.custom-checkbox
    type="checkbox"
    id=input.checkValue
    name=input.checkValue
    onClick("checkboxClick")
  >
  <label.checkbox for=input.checkValue>${input.checkValue}</label>

</div>
