.pagination-link {
    border: none;
    border-radius: 0%;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 35px;
    height: 35px;
    margin: 0 16px 0 0;
}

.pagination-link.is-current {
    background-color: #56CCF2;
    color: #000000;
}