.rowPaginationSort {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .pagination {
        margin: 0;
        justify-content: flex-start;
        &:not(:last-child) {
            margin-bottom: 0;
        }

        
        %pagination-box {
            border: none;
            border-radius: 0%;
            background-color: white;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            width: 35px;
            height: 35px;
            margin: 0 16px 0 0;
        }

        .pagination-previous,
        .pagination-next {
            @extend %pagination-box;
        }

        .pagination-list {
            flex-grow: 0;

            .pagination-link {
                @extend %pagination-box;
            }

            .pagination-link.is-current {
                background-color: #56CCF2;
                color: #000000;
            }
        }
    }
}