class {
  radioClick(event) {
    this.emit("emSetRadio", {
      axle: event.target.value,
    });
  }
}

<div.rowRadio>
  <input.custom-radio
    id=input.name + input.index
    type="radio"
    name=input.name
    value=input.checkValue
    onClick("radioClick")
  >
  <label.checkbox for=input.name + input.index>${input.checkValue}</label>
</div>
